// Colors
$color-primary: #FF0101;
$color-secondary: #000000;
$color-background: #FBFBFB;
$color-text: #20253A;

// Breakpoints
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 780px;

// Sizes
$sidebar-width: 117px;
$header-height: 91px;

// Font sizes
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 24px;
$font-size-xlarge: 48px;