@import '../../styles/variables.scss';

.container {
  background: #FF0000;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  min-width: 258px;
  aspect-ratio: 1;
  position: relative;
  overflow: hidden;

  h2 {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
    width: 147px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20%;
    background: linear-gradient(to right, rgba(255, 0, 0, 0), #FF0000);
    pointer-events: none;
    z-index: 1;
  }
}

.chartContainer {
  height: calc(100% - 80px);
  width: 100%;
  position: relative;

  :global {
    .recharts-cartesian-grid {
      display: none;
    }

    .recharts-cartesian-axis-tick-value {
      fill: rgba(255, 255, 255, 0.6);
      font-size: 12px;
    }

    .recharts-curve {
      opacity: 1;
    }

    .recharts-active-dot {
      z-index: 10;
    }
  }
}

.tooltip {
  background: white;
  color: black;
  white-space: nowrap;
  pointer-events: none;
  z-index: 10;
  
  p {
    padding: 9px;
  }
}

