@import '../../styles/variables.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  background-color: $color-secondary;
  padding: 0 20px;
  display: flex;
  align-items: center;
  z-index: 100;
}

.logo {
  height: 60px;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 150px;
  
  img {
    height: 60px;
    width: auto;
  }
}

.nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  
  a {
    color: white;
    text-decoration: none;
    font-size: $font-size-medium;
    font-weight: bold;
    white-space: nowrap;
    padding: 0 10px;
    
    &:hover {
      color: $color-primary;
    }
  }

  @media (max-width: 1024px) {
    justify-content: space-around;
    margin-right: 20px;
  }
}